<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App</title>
</head>
<body>
    <p>Navegacion</p>

    <!-- con {{{body}}} le estamos diciendo que lo unico que va a cambiar es el cuerpo el body  -->
    {{{body}}}

    <p>Footer</p>
</body>
</html>